.Loader_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

}

.loader{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 700px;
    top: 10%;
}
.loading-box {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    padding-left: 24.7%;
    background-color: transparent;
    opacity: 30%;
    animation: background-effect 4s linear;
}

@keyframes background-effect {
    0% {
        opacity: 10%;
        background-color: black;
    }
    13% {
        opacity: 100%;
        background-color: black;
    }
    90% {
        opacity: 100%;
        background-color: black;
    }
    100% {
        opacity: 10%;
        background-color: black;
    }
}