/* NAVBAR */
nav{
    width: 100%;
    position: fixed;
    top: 0;
}
.nav-1 {
    width: 100%;
    display: flex;
}
.ul-1 {
    display: flex;
    width: 50%;
    align-items: center;
}
.ul-2 {
    display: flex;
    width: 50%;
    justify-content: end;
    align-items: center;
}
.ul-1 img{
    width: 40px;
    padding: 4px;
    border-radius: 20px;
}
.ul-1 img:hover {
    transition: .7s;
    filter: contrast(1) brightness(.7);
}
.ul-1 li:hover, .ul-2 li:hover{
    transition: .7s;
    border-bottom: 4px solid rgba(118, 80, 155, 0.534);
}
li {
    list-style: none;
    margin: 0 10px;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 13px;
    border-bottom: 4px solid transparent;
    background-color: rgba(153, 102, 201, 0);
}
a {
    text-decoration: none;
    color: rgb(192, 192, 192);
}

button {
    background-color: rgba(153, 102, 201, 0);
    height: 30px;
    border: 0;
}
.BsFillGearFill {
    color: rgb(192, 192, 192);
    width: 70px;
}
.menu.active {
    opacity: 1;
    visibility: visible;
}
.menubox {
    display: flex;
    position: fixed;
    right: 0;
    top: 60px;
    align-items: center;

}
.menu {
    opacity: 0;
    background-color: rgb(59, 59, 59); 
    align-items: center;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

}
.menu li {
}

@keyframes change-screen {
        0%   { margin-left: 0px; }
        50%  { margin-left: 200px; }
        100% { margin-left: 0px; }

}

/* NEW NAVBAR */

.main-nav{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
}
.navbar-unlogged {
    width: 40%;
    height: 100%;
}
.navbar-unlogged ul{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ul-10 {
    background-color: rgb(24,24,24);
    border-bottom: 2px solid black;
    border-end-end-radius: 20px;
    border-end-start-radius: 20px;
    opacity: 70%;
}
.ul-10 img{
    width: 48px;
    border-radius: 30px;
    transition: 0.3s;
}
#imagem-nav{
     border-radius: 100px;
}

.ul-10 img:hover{
    width: 55px;
    border-radius: 40px;
}
.ul-10 a{
    scale: 2;
    transition: 0.3s;
}
.ul-10 a:hover{
    font-size: 20px;
}